.Product {
  width: 305px;
  height: 280px;
  margin: 4px;
}

.Product__header_card_sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
}

.Product__cardImage {
  height: 80px;
  width: 60px;
  margin-right: 20px;
}

.Product__header {
  font-family: "Sen", sans-serif;
  font-weight: bold;
  color: #61bfad;
}
.Product__cardDescription {
  font-family: "Sen", sans-serif;
  color: #000;
}

.Productt__content__icons {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  margin-top: -10px;
}

.Product__content {
  width: 100%;
  padding: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    width: 75%;
    font-family: "Sen", sans-serif;
    font-size: 12px;
  }
}

.Product__icon {
  color: #61bfad;
  margin: -2%;
}

.Product__action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  margin: -4px;
}

.Product__action_text {
  padding: 4px;
  margin-bottom: -10px;
}

.Product__action_button {
  color: #61bfad;
}

.Product__action_counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  h3 {
    margin-top: 30px;
  }
}
.Product__action_button_icon {
  color: #61bfad;
}

.Product__action_button_commande {
  width: 60%;
}

h2 {
  color: grey;
  margin-bottom: 10%;
}
