.Product__container {
  width: 200px;
  height: 300px;
}

.Product__cardImage {
  height: 200px;
  width: 180px;
}
.Production__content {
  padding: 6px;
  p {
    font-family: "Sen", sans-serif;
    font-size: 14px;
  }
}
