.Navigation__container {
  width: 100vw;
  background-color: #f9f7e8;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.Navigation__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-start;
  margin: 6px;
  padding: 5;
}

.Navigation__groupItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  margin-right: 4%;
}

.Navigation__item {
  text-decoration: none;
  font-family: "Sen", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  :hover {
    cursor: pointer;
  }
}

.Navigation__icon {
  color: #61bfad;
  margin-right: 2%;
}

h1 {
  font-family: "Sen", sans-serif;
  color: #ff8b8b;
}

.Navigation__text {
  font-family: "Sen", sans-serif;
  color: #61bfad;
  margin-left: 10%;
  font-size: 16px;
}
